<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>1_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>1.png</string>
		</dict>
		<key>2</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>2_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>2.png</string>
		</dict>
		<key>3</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>3_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>3.png</string>
		</dict>
		<key>4</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>4_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>4.png</string>
		</dict>
		<key>5</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>5_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>5.png</string>
		</dict>
		<key>6</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>6_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>6.png</string>
		</dict>
		<key>7</key>
		<dict>
			<key>image_v</key>
			<string></string>
			<key>sample</key>
			<string>7_t.png</string>
			<key>name</key>
			<string></string>
			<key>image_o</key>
			<string>7.png</string>
		</dict>
	</dict>
</dict>
</plist>
