<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackGround</key>
	<dict>
		<key>Diamond</key>
		<dict>
			<key>Thumb</key>
			<string>blu_diamond_t.jpg</string>
			<key>Image</key>
			<string>blu_diamond.jpg</string>
		</dict>
		<key>GreenStar</key>
		<dict>
			<key>Thumb</key>
			<string>green_star_t.jpg</string>
			<key>Image</key>
			<string>green_star.jpg</string>
		</dict>
		<key>GreenPois</key>
		<dict>
			<key>Thumb</key>
			<string>green_pois_t.jpg</string>
			<key>Image</key>
			<string>green_pois.jpg</string>
		</dict>
		<key>VioletSquare</key>
		<dict>
			<key>Thumb</key>
			<string>violet_square_t.jpg</string>
			<key>Image</key>
			<string>violet_square.jpg</string>
		</dict>
		<key>VioletStar</key>
		<dict>
			<key>Thumb</key>
			<string>violet_star_t.jpg</string>
			<key>Image</key>
			<string>violet_star.jpg</string>
		</dict>
		<key>Pinkpois</key>
		<dict>
			<key>Thumb</key>
			<string>pink_pois_t.jpg</string>
			<key>Image</key>
			<string>pink_pois.jpg</string>
		</dict>
		<key>MixStar</key>
		<dict>
			<key>Thumb</key>
			<string>mixstar_t.jpg</string>
			<key>Image</key>
			<string>mixstar.jpg</string>
		</dict>
		<key>GreenDiamon</key>
		<dict>
			<key>Thumb</key>
			<string>green_diamond_t.jpg</string>
			<key>Image</key>
			<string>green_diamond.jpg</string>
		</dict>
		<key>VioletSoft</key>
		<dict>
			<key>Thumb</key>
			<string>violetsoft_lines_t.jpg</string>
			<key>Image</key>
			<string>violetsoft_lines.jpg</string>
		</dict>
	</dict>
</dict>
</plist>
